@import "tailwindcss";
@import "../styles/components.css";

:root {
  --color-primary: #000000;
  --color-background: #abff81;
  --text-primary: #1C252E;
  --text-secondary: #637381;
  
  /* Typography */
  --font-family-primary: var(--font-public-sans), system-ui, sans-serif; /* Public Sans für Body Text */
  --font-family-secondary: var(--font-barlow), system-ui, sans-serif;      /* Barlow für Headlines */


  --shadow-card: 0 24px 48px 0 #919EAB29;
}

@theme inline {
  /* Map CSS variables to Tailwind theme */
  --color-primary: var(--color-primary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --background: var(--color-background);
  
  /* Typography */
  --font-sans: var(--font-family-primary);     
  --font-primary: var(--font-family-primary);  
  --font-secondary: var(--font-family-secondary); /* Headlines: Barlow *//* Base styles */

}

body {
  font-family: var(--font-family-primary); /* Public Sans als Standard */
}
