@import "tailwindcss";
@import "../styles/components.css";

:root {
  --color-button-primary: #000000;
  --color-text-primary: #1C252E;
  --color-text-secondary: #637381;
}

@theme {
  /* Map CSS variables to Tailwind theme */
  --color-button-primary: var(--color-button-primary);
  --color-primary: var(--color-text-primary);
  --color-secondary: var(--color-text-secondary); 
}

@layer components {
  .text-body {
    @apply font-[family-name:var(--font-public-sans)] text-sm leading-[22px] text-primary;
  }

  .text-headline {
    @apply font-[family-name:var(--font-barlow)] text-2xl font-semibold leading-9;
  }

}